<p>
  user-list works!
</p>


<hr>
=====
<ul *ngFor="let metro of metroArrives">
  <li>{{metro.success}}</li>
</ul>
=====
<hr>

<ul *ngFor="let wow of users">
    <li>{{wow.name}}</li>
    <li>{{wow.email}}</li>
</ul>


<table>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>websiete</th>
  </tr>
  <tr *ngFor="let wow of users">
    <td id="{{1+1}}">{{wow.name}}</td>
    <td>{{wow.email}}</td>
    <td><a href="http://{{wow.website}}">{{wow.website}}</a></td>
  </tr>
</table>

<style>
  table, td, th {
      border: 1px solid black;
  }
  table {
      border-collapse: collapse;
  }
  </style>