<p>
  user-list works!
</p>


<hr>
=====
<h5>資料來源: 台北市政府 Open Data</h5>
<table>
  <tr>
    <th>NO</th>
    <th>Staton</th>
    <th>Destination</th>
    <th>UpdateTime</th>
  </tr>
  <tr *ngFor="let metro of metroArrives">
    <td>{{metro._id}}</td>
    <td>{{metro.Station}}</td>
    <td>{{metro.Destination}}</td>
    <td>{{metro.UpdateTime}}</td>
  </tr>
</table>
=====
<hr>

<!-- <ul *ngFor="let wow of users">
    <li>{{wow.name}}</li>
    <li>{{wow.email}}</li>
</ul> -->


<table>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>websiete</th>
  </tr>
  <tr *ngFor="let wow of users">
    <td id="{{1+1}}">{{wow.name}}</td>
    <td>{{wow.email}}</td>
    <td><a href="http://{{wow.website}}">{{wow.website}}</a></td>
  </tr>
</table>

<style>
  table, td, th {
      border: 1px solid black;
  }
  table {
      border-collapse: collapse;
  }
  </style>